.pokemonContainer {
  background-color: rgb(7, 71, 126);
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 5px;
  height: 500px;
  padding: 10px;
}

.pokemonContainer li {
  list-style: none;
  padding: 5px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}
