.listContainer li {
  background-color: white;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.listContainer ul {
  padding: 0;
  list-style: none;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  border: 1px solid black;
  color: black;
  margin: 5px;
  min-height: 300px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.controls select,
.controls input {
  width: 100%;
  height: 30px;
  margin: 5px;
  background-color: white;
  color: black;
}
