body {
  background: black;
  color: white;
}

.backdrop {
  background-color: gray;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  top: 0px;
  position: fixed;
  left: 0px;
}

.modalContainer {
  /* height: 100vh;
  width: 100vw; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.modalTitle {
  background: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.modalBody {
  padding: 10px;
  overflow: hidden;
  background: white;
  color: black;
  flex-grow: 1;
}

.closeButton {
  cursor: pointer;
}
