#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.d-flex {
  display: flex;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slider {
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 50vw;
  margin: auto;
  height: 70vh;
  flex-direction: column;
}
.slideContainer {
  height: 100%;
  width: 96%;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.navigationButton {
  font-size: 40px;
  color: black;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.left {
  left: 0px;
}
.right {
  right: 0px;
}

.slideContainer img {
  height: 100%;
  width: 100%;
}

.dots {
  width: 30px;
  height: 30px;
  background: gray;
  border-radius: 50%;
  margin: 0 2px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.dots.active {
  background: skyblue;
}
